<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="is.hi.HBV601G.mundusandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_mundus_50"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_mundus_50"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activities.ChildActivities.QuestLogChildActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ChildActivities.MarketplaceChildActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ParentActivities.CreateRewardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ParentActivities.CreateQuestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ParentActivities.ProfileManagementActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ParentActivities.StatisticsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ParentActivities.MarketplaceParentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ParentActivities.QuestLogParentActivity"
            android:screenOrientation="portrait"/> <!-- android:exported="true" -->
        <activity android:name=".Activities.ChildActivities.ChildMainMenuActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ParentActivities.ParentMainMenuActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.PersonLoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.PersonSelectActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.SignupActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@android:color/white"/>
    </application>



</manifest>